*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif; 
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

 
header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
.logo img{
    width: 120px;
}
.menu-navi{
    display: flex;
}
.menu-navi a{
    color: #2c2c2c;
    font-size: 16px;
    padding:10px 20px;
    font-weight: 400;
}
.menu-navi a:hover{
    color:red
}
.navi-icon i{
    margin-left: 20px;
    color: #2c2c2c;
    font-size: 25px;
}
.navi-icon i:hover{
    color:red
}
.cover{
    height: 100vh;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-bottom: 35px;

}
.trending-text{
    text-align: center;
    color: #2c2c2c;
    margin-bottom:15px ;
}
.product{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding: 20px;
}
.row{
    position: relative;

}
.row img{
    width: 100%;
    height: auto;
    transition: transform 330ms ease-in-out;
    cursor: pointer;
}
.row img:hover{
    transform: scale(1.15);
}